@inject ViewModels.Smartphone.ISmartphoneViewModel viewModel
@using GadgetBlitzPZ.Models.Smartphone
@using GadgetBlitzPZ.Pages.Templates
@using System.Linq
@using Blazorise.Icons.FontAwesome
@using Microsoft.JSInterop

@page "/comparison"

<Style></Style>

<h3>Porównanie Smartfonów</h3>

<div class="table-container custom-shadow">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th></th>
                @foreach (var smartphone in viewModel.SmartphonesComparisonList)
                {
                    <th>
                        <div class="d-flex flex-column align-items-center">
                            @if (smartphone.urls != null && smartphone.urls.Any())
                            {
                                <img src="@smartphone.urls.First()" alt="Smartphone Image" style="width: 160px; height: 200px; object-fit: cover; object-position: center; border-radius: 3%; transform: scale(0.9);" />
                            }
                            <h5>@smartphone.name</h5>
                        </div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Rozmiar</th>
                @foreach (var smartphone in viewModel.SmartphonesComparisonList)
                {
                    <td>@smartphone.size</td>
                }
            </tr>
            <tr>
                <th>Bateria</th>
                @foreach (var smartphone in viewModel.SmartphonesComparisonList)
                {
                    <td>@smartphone.battery</td>
                }
            </tr>
            <tr>
                <th>System</th>
                @foreach (var smartphone in viewModel.SmartphonesComparisonList)
                {
                    <td>@smartphone.system</td>
                }
            </tr>
            <tr>
                <th>Pamięć</th>
                @foreach (var smartphone in viewModel.SmartphonesComparisonList)
                {
                    <td>@smartphone.storage</td>
                }
            </tr>
            <tr>
                <th>Cena</th>
                @foreach (var smartphone in viewModel.SmartphonesComparisonList)
                {
                    <td>@smartphone.price</td>
                }
            </tr>
        </tbody>
    </table>
</div>


@code {

}
