@inject ViewModels.Smartphone.ISmartphoneViewModel viewModel
@using GadgetBlitzPZ.Models.Smartphone
@using GadgetBlitzPZ.Pages.Templates
@using System.Linq
@using Blazorise.Bootstrap
@using Blazorise.Icons.FontAwesome

@page "/smartphones"

<PageTitle>Smartphones</PageTitle>

<Style></Style>

<div class="container-fluid mt-4 mb-4">
	<div class="row">
		<div class="col-md-2">
			<SideBar></SideBar>
		</div>
        <div class="col-md-8">
            <!-- Lista ze smartfonami -->
            <div class="row">
                @foreach (var smartphone in viewModel.SmartphonesList)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card custom-shadow h-100 d-flex flex-column justify-content-between">
                            <div class="card-body d-flex align-items-center">
                                <div class="mr-3">
                                    @if (smartphone.urls != null && smartphone.urls.Any())
                                    {
                                        <img src="@smartphone.urls.First()" alt="Smartphone Image" style="width: 170px; height: 200px; object-fit: cover; object-position: center; border-radius: 3%; transform: scale(1.1);" />
                                    }
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title">@smartphone.name</h5>
                                    <p class="card-text small">
                                        <strong>Ekran:</strong> @smartphone.size "<br />
                                        <strong>Bateria:</strong> @smartphone.battery mAh<br />
                                        <strong>System:</strong> @smartphone.system<br />
                                        <strong>Pamięć:</strong> @smartphone.storage  GB<br />
                                        <strong>Cena:</strong> @smartphone.price.ToString() zł
                                    </p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="form-check d-flex align-items-center">
                                            <input class="form-check-input custom-checkbox mr-5" type="checkbox" id="compareCheckbox_@smartphone.id" value="compare">
                                            <label class="form-check-label font-weight-bold ml-2" for="compareCheckbox_@smartphone.id">
                                                Dodaj do porównania
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-md-right">
                                        <button class="btn btn-secondary btn-sm btn-lg mb-1" style="width: 100%;">Dane Techniczne </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

		<div class="col-md-2">
			<AdBar></AdBar>
		</div>
	</div>
	<!-- Poprzednia i Nastepna strona-->
	<div class="text-center d-flex justify-content-center align-items-bottom">
		<button class="btn btn-secondary btn-lg mb-1 text-xl" style="width: 12%;">Poprzednia Strona</button>

		<ul class="pagination d-flex ml-3 mr-3">
			@for (int i = 1; i <= 87; i++)
			{
				@if (i <= 3 || i == 87)
				{
					<li class="page-item">
						<a class="page-link text-xl btn btn-light btn-lg" href="#">@i</a>
					</li>
				}
				else if (i == 4)
				{
					<li class="page-item disabled"><a class="page-link" href="#">...</a></li>
				}
			}
		</ul>

		<button class="btn btn-primary btn-lg mb-1 text-xl" style="width: 12%;">Następna Strona</button>
	</div>
</div>


@code {

    protected override async Task OnInitializedAsync()
    {
        await viewModel.GetSmartphones("page=15&size=6");
    }

}
