@inject ViewModels.Smartphone.ISmartphoneViewModel viewModel
@inject IJSRuntime JSRuntime
@using GadgetBlitzPZ.Models.Smartphone
@using GadgetBlitzPZ.Pages.Templates
@using System.Linq
@using Blazorise.Icons.FontAwesome
@using Blazorise.Animate
@using Microsoft.JSInterop

@page "/smartphones"

<PageTitle>Smartphones</PageTitle>

<Style></Style>
<div class="container-fluid mt-4 mb-4">
	<div class="row">
		<div class="col-md-2">
			<!-- Pasek z filtrowaniem wyników -->
			<div class="navbar navbar-expand-md navbar-light bg-light flex-md-column custom-shadow">
				<ul class="navbar-nav flex-md-column">
					<!-- Marka -->
					<h5>Marka</h5>
					<div>
						@foreach (var brand in availableBrands)
						{
							<div class="form-check">
								<input class="form-check-input custom-shadow-checkbox" type="checkbox" id="@($"brand-{brand.Key}")" checked="@brandChecked[brand.Key]" @onchange="() => ToggleBrandSelection(brand.Value, brand.Key)" />
								<label class="form-check-label" for="@($"brand-{brand.Key}")">
									@brand.Value
								</label>
							</div>
						}
					</div>
					<!-- Wyszukiwanie -->
					<li class="nav-item mt-2 mb-2">
						<h5>Wyszukaj po nazwie</h5>
						<TextEdit Class="custom-shadow" Placeholder="Nazwa smartfona..." @bind-Text="@searchByName" />
					</li>
					<!-- Wielkość ekranu -->
					<li class="nav-item mt-2 mb-2">
						<h5>Wielkość ekranu</h5>
						<div class="input-group custom-shadow">
							<select class="form-select" id="sizeMin" @bind="sizeMin">
								<option value="4">4"</option>
								<option value="5">5"</option>
								<option value="6">6"</option>
								<option value="7">7"</option>
								<option value="8">8"</option>
							</select>
							<div class="input-group-text">do</div>
							<select class="form-select" id="sizeMax" @bind="sizeMax">
								<option value="4">4"</option>
								<option value="5">5"</option>
								<option value="6">6"</option>
								<option value="7">7"</option>
								<option value="8">8"</option>
							</select>
						</div>
					</li>
					<!-- Bateria -->
					<li class="nav-item mt-2 mb-2">
						<h5>Pojemność baterii</h5>
						<div class="input-group custom-shadow">
							<select class="form-select" id="batteryMin" @bind="batteryMin">
								<option value="1000">1000mAh</option>
								<option value="2000">2000mAh</option>
								<option value="3000">3000mAh</option>
								<option value="4000">4000mAh</option>
								<option value="5000">5000mAh</option>
								<option value="6000">6000mAh</option>
							</select>
							<div class="input-group-text">do</div>
							<select class="form-select" id="batteryMax" @bind="batteryMax">
								<option value="1000">1000mAh</option>
								<option value="2000">2000mAh</option>
								<option value="3000">3000mAh</option>
								<option value="4000">4000mAh</option>
								<option value="5000">5000mAh</option>
								<option value="6000">6000mAh</option>
							</select>
						</div>
					</li>
					<!-- Pamięć masowa -->
					<li class="nav-item mt-2 mb-2">
						<h5>Pamięć</h5>
						<div class="input-group custom-shadow">
							<select class="form-select" id="storageMin" @bind="storageMin">
								<option value="16">16GB</option>
								<option value="32">32GB</option>
								<option value="64">64GB</option>
								<option value="128">128GB</option>
								<option value="256">256GB</option>
								<option value="512">512GB</option>
								<option value="1024">1TB</option>
								<option value="2048">2TB</option>
							</select>
							<div class="input-group-text">do</div>
							<select class="form-select" id="storageMax" @bind="storageMax">
								<option value="16">16GB</option>
								<option value="32">32GB</option>
								<option value="64">64GB</option>
								<option value="128">128GB</option>
								<option value="256">256GB</option>
								<option value="512">512GB</option>
								<option value="1024">1TB</option>
								<option value="2048">2TB</option>
							</select>
						</div>
					</li>

					<!-- System-->
					<li class="nav-item mt-2 mb-2">
						<h5>System operacyjny</h5>
						<select class="form-select custom-shadow" @bind="selectedOS">
							<option value="Android">Android</option>
							<option value="iOS">iOS</option>
							<option value="Windows">Windows</option>
						</select>
						<!-- Dodaj więcej opcji systemów operacyjnych -->
					</li>
					<li class="nav-item mt-2 mb-2">
						<h5>Zakres cenowy</h5>
						<div class="input-group custom-shadow">
							<input type="number" class="form-control" id="priceMin" min="0" placeholder="zł" step="100" @bind="priceMin">
							<div class="input-group-text">do</div>
							<input type="number" class="form-control" id="priceMax" min="@priceMin" placeholder="zł" step="100" @bind="priceMax">
						</div>
					</li>
					<!-- Dodaj więcej filtrów -->
				</ul>
				<button class="btn btn-secondary mt-1 custom-shadow" style="width: 80%;" @onclick="ClearAll">Wyczyść wszystkie filtry</button>
				<button class="btn btn-primary btn-lg text-xl mt-1 mb-1 custom-shadow" style="width: 80%;" @onclick="LoadFilters">Szukaj</button>

				<Dropdown Class="mt-3 custom-shadow" Style="width: 80%;">
					<DropdownToggle Color="Color.Dark" Style="width: 100%;">
						Porównywarka (@viewModel.SmartphonesComparisonList.Count)
					</DropdownToggle>
					<DropdownMenu>
						@foreach (var smartphone in viewModel.SmartphonesComparisonList)
						{
							<div class="d-flex align-items-center">
								@if (smartphone.urls != null && smartphone.urls.Any())
								{
									<img src="@smartphone.urls.First()" alt="Smartphone Image" style="width: 60px; height: 60px; object-fit: cover; object-position: center; border-radius: 5%; margin-right: 2px;" />
								}
								else
								{
									<i class="fas fa-mobile-alt fa-3x" style="margin-right: 10px;"></i>
								}
								<span class="flex-grow-1">@smartphone.name</span>
								<button class="btn btn-link" @onclick="() => viewModel.RemoveFromComparison(smartphone)">
									<i class="fas fa-times"></i>
								</button>
							</div>

						}
					</DropdownMenu>
				</Dropdown>
				<NavLink class="btn btn-dark btn-lg text-xl mt-1 mb-1 custom-shadow" style="width: 80%" href="/comparison">
					Idź do porównywarki
				</NavLink>


			</div>
		</div>
		<div class="col-md-8">
			<!-- Lista ze smartfonami -->
			@if (viewModel.SmartphonesList != null)
			{
				@if (isCardAnimating)
				{
					<Animate Auto Animation="@cardAnimation" Duration="TimeSpan.FromMilliseconds(500)" IsManual="true">
					<div class="row">
						@foreach (var smartphone in viewModel.SmartphonesList)
							{
								<div class="col-md-4 mb-4">
									<Animate Auto Animation="Animations.ZoomOut" Duration="TimeSpan.FromMilliseconds(300)">

									<div class="card custom-shadow d-flex flex-column justify-content-between" style="height: 400px">
										<div class="card-body d-flex align-items-center">
											<div class="mr-3">
												@if (smartphone.urls != null && smartphone.urls.Any())
													{
														<Animate Auto Animation="Animations.ZoomIn" Duration="TimeSpan.FromMilliseconds(5000)">
														<img src="@smartphone.urls.First()" alt="Smartphone Image" style="max-width: 200px; max-height: 200px; object-fit: cover; object-position: center; border-radius: 3%;" />
														</Animate>
													}
												</div>
												<div class="card-body text-center">
													<h5 class="card-title">@smartphone.name</h5>
													<p class="card-text small">
														<strong>Ekran:</strong> @smartphone.size "<br />
														<strong>Bateria:</strong> @smartphone.battery mAh<br />
														<strong>System:</strong> @smartphone.system<br />
														<strong>Pamięć:</strong> @smartphone.storage  GB<br />
														<strong>Cena:</strong> @smartphone.price zł
													</p>
												</div>
											</div>
											<div class="card-footer">
												<div class="row align-items-center justify-content-center">
													<div class="col-md-6 d-flex align-items-center justify-content-center">
														<div class="row align-items-center justify-content-center">
															<div class="col-md-12 mb-2 d-flex justify-content-center">
																<div style="font-size: 21px; flex-direction: row;">
																	<Rating Color="Color.Warning" readonly @bind-SelectedValue="@smartphone.ratingInt" MaxValue="5" />
																	<Badge Color="Color.Secondary">@smartphone.rating/5</Badge>
																</div>
															</div>
															<div class="col-md-12">
																<div class="form-check d-flex align-items-center text-center pl-0">
																	@if (viewModel.SmartphonesComparisonList.Count < 3)
																	{
																		<button class="btn btn-outline-dark custom-shadow ml-0" @onclick="() => viewModel.AddToComparison(smartphone)">Dodaj do porównania</button>
																	}
																	else
																	{
																		<Tooltip Text="Dodano maksymalną ilość telefonów do porównywarki">
																			<button class="btn btn-outline-dark custom-shadow" disabled>Dodaj do porównania</button>
																		</Tooltip>
																	}
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-6 d-flex align-items-center justify-content-center">
														<NavLink class="btn btn-primary btn-md mb-1 font-weight-bold custom-shadow" href="@($"/smartphoneDetails/{smartphone.id}")">Dane Techniczne</NavLink>
													</div>

												</div>
											</div>
										</div>
										</Animate>
								</div>
							}
						</div>
					</Animate>
				}
				else
				{

					<div class="row">
						@foreach (var smartphone in viewModel.SmartphonesList)
						{
							<div class="col-md-4 mb-4">
								<div class="card custom-shadow d-flex flex-column justify-content-between" style="height: 400px">
									<div class="card-body d-flex align-items-center">
										<div class="mr-3">
											@if (smartphone.urls != null && smartphone.urls.Any())
											{
												<img src="@smartphone.urls.First()" alt="Smartphone Image" style="max-width: 200px; max-height: 200px; object-fit: cover; object-position: center; border-radius: 3%;" />
											}
										</div>
										<div class="card-body text-center">
											<h5 class="card-title">@smartphone.name</h5>
											<p class="card-text small">
												<strong>Ekran:</strong> @smartphone.size "<br />
												<strong>Bateria:</strong> @smartphone.battery mAh<br />
												<strong>System:</strong> @smartphone.system<br />
												<strong>Pamięć:</strong> @smartphone.storage  GB<br />
												<strong>Cena:</strong> @smartphone.price zł
											</p>
										</div>
									</div>
									<div class="card-footer">
										<div class="row align-items-center justify-content-center">
											<div class="col-md-6 d-flex align-items-center justify-content-center">
												<div class="row align-items-center justify-content-center">
													<div class="col-md-12 mb-2 d-flex justify-content-center">
														<div style="font-size: 21px; flex-direction: row;">
															<Rating Color="Color.Warning" readonly @bind-SelectedValue="@smartphone.ratingInt" MaxValue="5" />
															<Badge Color="Color.Secondary">@smartphone.rating/5</Badge>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-check d-flex align-items-center text-center pl-0">
															@if (viewModel.SmartphonesComparisonList.Count < 3)
															{
																<button class="btn btn-outline-dark custom-shadow ml-0" @onclick="() => viewModel.AddToComparison(smartphone)">Dodaj do porównania</button>
															}
															else
															{
																<Tooltip Text="Dodano maksymalną ilość telefonów do porównywarki">
																	<button class="btn btn-outline-dark custom-shadow" disabled>Dodaj do porównania</button>
																</Tooltip>
															}
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6 d-flex align-items-center justify-content-center">
												<NavLink class="btn btn-primary btn-md mb-1 font-weight-bold custom-shadow" href="@($"/smartphoneDetails/{smartphone.id}")">Dane Techniczne</NavLink>
											</div>

										</div>
									</div>
								</div>
							</div>
						}
					</div>

				}

			}
			else
			{
				<div class="alert alert-warning" role="alert" style="width: 20%;">
					Nie znaleziono telefonów odpowiadających kryteriom wyszukiwania.
					<button class="btn btn-secondary mt-1" style="width: 100%;" @onclick="ClearAll">Wyczyść wszystkie filtry</button>
				</div>
			}
		</div>

		<div class="col-md-2">
			<AdBar></AdBar>
		</div>
	</div>
	<!-- Poprzednia i Nastepna strona-->
	@if (viewModel.totalPages != 0)
	{
		<div class="text-center d-flex justify-content-center align-items-center">
			<button class="btn btn-secondary btn-lg mb-1 mr-1 ml-1 text-xl custom-shadow" style="width: 12%;" @onclick="PrevPage" disabled="@isFirstPage">Poprzednia Strona</button>
			<div style="width: 12%; max-width: 200px;">
				<span>Strona @(pageIndex + 1) z @viewModel.totalPages</span>
			</div>
			<button class="btn btn-primary btn-lg mb-1 mr-1 ml-1 text-xl custom-shadow" style="width: 12%;" @onclick="NextPage" disabled="@isLastPage">Następna Strona</button>
		</div>
	}

</div>


@code {
	int comparisonCount = 0;

	private bool isCardAnimating = false;
	private IAnimation cardAnimation;

	int pageIndex = 0;
	public bool isFirstPage => pageIndex == 0;
	public bool isLastPage => pageIndex == (viewModel.totalPages - 1);

	Dictionary<int, string> availableBrands = new Dictionary<int, string>
{
	{ 0, "Apple" },
	{ 1, "Samsung" },
	{ 2, "Huawei" },
	{ 3, "Xiaomi" },
	{ 4, "OPPO" },
	{ 5, "Motorola" },
	{ 6, "Nokia" },
	{ 7, "Realme" },
	{ 8, "OnePlus" },
	{ 9, "Google" },
};
	List<string> selectedBrands = new List<string>();
	private bool[] brandChecked = new bool[10];

	private string searchByName = "";

	private int sizeMin;
	private int sizeMax;

	private int batteryMin;
	private int batteryMax;

	private int storageMin;
	private int storageMax;

	private string selectedOS = "";

	private int priceMin;
	private int priceMax;

	string filterQuery = "phones?";

	protected override async Task OnInitializedAsync()
	{
		selectedBrands.Clear();
		await viewModel.GetSmartphones("phones");
		await viewModel.GetPages("phones");
		await InvokeAsync(StateHasChanged);
		await CardAnimation(Animations.FadeIn);
	}

	private async Task ClearAll()
	{
		selectedBrands.Clear();
		brandChecked = new bool[10];
		searchByName = "";
		filterQuery = "phones/search?";

		sizeMin = 0;
		sizeMax = 0;

		batteryMin = 0;
		batteryMax = 0;

		storageMin = 0;
		storageMax = 0;

		selectedOS = "";

		priceMin = 0;
		priceMax = 0;

		await viewModel.GetSmartphones("phones/search?");
		await viewModel.GetPages("phones/search?");
		await InvokeAsync(StateHasChanged);
		await CardAnimation(Animations.FadeIn);
	}

	private async Task LoadFilters()
	{
		CheckAndSwap();

		filterQuery = "";

		// Brand filter
		if (selectedBrands.Count > 0)
		{
			string selectedBrandsQuery = string.Join(",", selectedBrands);
			filterQuery += $"phones/search?brand={selectedBrandsQuery}" + LoadValues();
		}
		else
		{
			if (LoadValues().Length > 0)
			{
				filterQuery += "phones/search?" + LoadValues().Substring(1);
			}
			else
			{
				filterQuery += "phones/search?" + LoadValues();
			}
		}

		await viewModel.GetSmartphones(filterQuery + "&size=9");
		await viewModel.GetPages(filterQuery);
		pageIndex = 0;
		await InvokeAsync(StateHasChanged);
		await CardAnimation(Animations.FadeIn);
	}
	private string LoadValues()
	{
		string final = "";

		if (searchByName != "")
		{
			final += $"&name={searchByName}";
		}
		if (sizeMin != 0)
		{
			final += $"&sizeMin={sizeMin}";
		}
		if (sizeMax != 0)
		{
			final += $"&sizeMax={sizeMax}";
		}
		if (batteryMin != 0)
		{
			final += $"&batteryMin={batteryMin}";
		}
		if (batteryMax != 0)
		{
			final += $"&batteryMax={batteryMax}";
		}
		if (storageMin != 0)
		{
			final += $"&storageMin={storageMin}";
		}
		if (storageMax != 0)
		{
			final += $"&storageMax={storageMax}";
		}
		if (priceMin != 0)
		{
			final += $"&priceMin={priceMin}";
		}
		if (priceMax != 0)
		{
			final += $"&priceMax={priceMax}";
		}
		if (selectedOS != "")
		{
			final += $"&system={selectedOS}";
		}
		return final;
	}

	private void ToggleBrandSelection(string brandName, int brandKey)
	{
		brandChecked[brandKey] = !brandChecked[brandKey];

		if (brandChecked[brandKey])
		{
			if (!selectedBrands.Contains(brandName))
			{
				selectedBrands.Add(brandName);
			}
		}
		else
		{
			selectedBrands.Remove(brandName);
		}
	}

	private async Task NextPage()
	{
		if (pageIndex < (viewModel.totalPages - 1))
		{
			string pageQuery = "";

			pageIndex++;
			pageQuery = "&size=9" + $"&page={pageIndex}";
			await viewModel.GetSmartphones(filterQuery + pageQuery);

			await CardAnimation(Animations.FadeIn);
		}
	}

	private async Task PrevPage()
	{
		if (pageIndex > 0)
		{
			string pageQuery = "";

			pageIndex--;
			pageQuery = "&size=9" + $"&page={pageIndex}";
			await viewModel.GetSmartphones(filterQuery + pageQuery);

			await CardAnimation(Animations.FadeIn);
		}
	}

	private void Swap<T>(ref T a, ref T b)
	{
		T temp = a;
		a = b;
		b = temp;
	}
	private void CheckAndSwap()
	{
		if (sizeMin > sizeMax && sizeMin != 0 && sizeMax != 0)
		{
			Swap(ref sizeMin, ref sizeMax);
		}
		if (batteryMin > batteryMax && batteryMin != 0 && batteryMax != 0)
		{
			Swap(ref batteryMin, ref batteryMax);
		}
		if (storageMin > storageMax && storageMin != 0 && storageMax != 0)
		{
			Swap(ref storageMin, ref storageMax);
		}
		if (priceMin > priceMax && priceMin != 0 && priceMax != 0)
		{
			Swap(ref priceMin, ref priceMax);
		}
	}

	private async Task CardAnimation(IAnimation animation)
	{
		cardAnimation = animation;
		isCardAnimating = true;
		await InvokeAsync(StateHasChanged);
		isCardAnimating = false;
		await Task.Delay(500);
		await InvokeAsync(StateHasChanged);
	}
}
