@inject ViewModels.Smartphone.ISmartphoneViewModel viewModel
@using GadgetBlitzPZ.Models.Smartphone
@using GadgetBlitzPZ.Pages.Templates
@using System.Linq
@using Blazorise.Bootstrap
@using Blazorise.Icons.FontAwesome
﻿


@page "/smartphonDetails"

<PageTitle>SmartphonDetails</PageTitle>

<Style></Style>

<div class="container-fluid mt-4 mb-4">
    <div class="row">
        <div class="col-md-8">
            <!-- Wyświetlanie danych jednego smartfona -->
            @if (viewModel.Smartphones.Any())
            {
                var smartphone = viewModel.Smartphones.First();
                <div class="card custom-shadow">
                    <div class="card-body d-flex flex-column justify-content-between h-100">
                        <div class="d-flex align-items-center">
                            <div class="mr-3">
                              
                            </div>
                            <div class="card-body">
										<h5 class="card-title">@smartphone.Name</h5>
										<p class="card-text small">
											<strong>Size:</strong> @smartphone.Data.Display.Size_inch<br />
											<strong>CPU:</strong> @smartphone.Data.Cpu.Type<br />
											<strong>System:</strong> @smartphone.Data.Software.Os<br />
											<strong>Storage:</strong> @smartphone.Data.Storage.Capacity_gb<br />

										</p>
									</div>
                        </div>
                    </div>
                    <!-- Wyświetlanie danych jednego smartfona -->
                    <div class="card custom-shadow">
                        <div class="card-body d-flex flex-column justify-content-between h-100">
                            <div class="d-flex align-items-center">
                                <div class="mr-3">
                                </div>
                                <div class="card-body">
                                    
                                </div>
                            </div>
                            <Table Striped>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Bateria</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Pojemność</TableRowHeader>
       @*     <TableRowCell>@smartphone.Data.Battery.Capacity_mAh mAh</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Ciągły czas odtwarzania dźwięku</TableRowHeader>
            <TableRowCell>@smartphone.Data.Battery.Continuous_audio_playtime_h hours</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Ciągły czas odtwarzania wideo</TableRowHeader>
            <TableRowCell>@smartphone.Data.Battery.Continuous_video_playtime_h hours</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Technologia</TableRowHeader>
            <TableRowCell>@smartphone.Data.Battery.Technology</TableRowCell>*@
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Aparat</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
      
         @*   <TableRowHeader>Rozdzielczość tylnego aparatu</TableRowHeader>
            <TableRowCell>@smartphone.Data.Camera.Camera_back_mp</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Rozdzielczość przedniego aparatu</TableRowHeader>
            <TableRowCell>@smartphone.Data.Camera.Camera_front_mp</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Maksymalna liczba klatek na sekundę tylnego aparatu</TableRowHeader>
            <TableRowCell>@smartphone.Data.Camera.Camera_back_max_frame_rate_fps FPS</TableRowCell>
        </TableRow>*@
        <TableRow>
            <TableRowHeader>Typ lampy błyskowej tylnego aparatu</TableRowHeader>
            <TableRowCell>@smartphone.Data.Camera.Camera_back_type_flash</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Procesor</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Typ</TableRowHeader>
            <TableRowCell>@smartphone.Data.Cpu.Type</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Liczba rdzeni</TableRowHeader>
            <TableRowCell>@smartphone.Data.Cpu.Number_of_cores</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Design</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Kolor</TableRowHeader>
            <TableRowCell>@smartphone.Data.Design.Color</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Materiał</TableRowHeader>
            <TableRowCell>@smartphone.Data.Design.Material</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Wyświetlacz</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Typ</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Type</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Kształt</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Shape</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Rozmiar (cal)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Size_inch</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Stosunek kontrastu</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Contrast_ratio</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Jasność (cd/m²)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Brightness_cdm</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Ekran dotykowy</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Has_touchscreen</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Częstotliwość odświeżania (Hz)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Refresh_rate_hz</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Gęstość pikseli (ppi)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Pixel_density_ppi</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Rozdzielczość (piksele)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Resolution_pixels</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Odporność na odciski palców</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Fingerprint_resistant</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Odporność na zarysowania (Gorilla Glass)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Display.Has_gorilla_glass</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Informacje ogólne</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Marka</TableRowHeader>
            <TableRowCell>@smartphone.Data.General.Brand</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Rok</TableRowHeader>
            <TableRowCell>@smartphone.Data.General.Year</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Numer referencyjny MPN</TableRowHeader>
            <TableRowCell>@smartphone.Data.General.Mpn</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Pomiary</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Wysokość (mm)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Measurements.Height_mm</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Długość (mm)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Measurements.Length_mm</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Szerokość (mm)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Measurements.Width_mm</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Waga (g)</TableRowHeader>
            <TableRowCell>@smartphone.Data.Measurements.Weight_g</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Nawigacja</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>GPS</TableRowHeader>
            <TableRowCell>@smartphone.Data.Navigation.Has_gps</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>A-GPS</TableRowHeader>
            <TableRowCell>@smartphone.Data.Navigation.Has_a_gps</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Beidou</TableRowHeader>
            <TableRowCell>@smartphone.Data.Navigation.Has_beidou</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Galileo</TableRowHeader>
            <TableRowCell>@smartphone.Data.Navigation.Has_galileo</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Glonass</TableRowHeader>
            <TableRowCell>@smartphone.Data.Navigation.Has_glonass</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Kompas elektroniczny</TableRowHeader>
            <TableRowCell>@smartphone.Data.Navigation.Has_electronic_compass</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Sieć</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>NFC</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_nfc</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>MIMO</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_mimo</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Wi-Fi</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_wifi</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>VoLTE</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_volte</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>AirPlay</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_airplay</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>iBeacon</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_ibeacon</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Dual SIM</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_dual_sim</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Bluetooth</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Has_bluetooth</TableRowCell>
        </TableRow>
        <TableRow>

        </TableRow>
        <TableRow>
            <TableRowHeader>Typ karty SIM</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Type_sim_card</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Standardy Wi-Fi</TableRowHeader>
            <TableRowCell>@smartphone.Data.Network.Wifi_standards</TableRowCell>
        </TableRow>
    </TableBody>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Pamięć</TableHeaderCell>
            <TableHeaderCell></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Pojemność pamięci wewnętrznej</TableRowHeader>
            <TableRowCell>@smartphone.Data.Storage.Capacity_gb GB</TableRowCell>
        </TableRow>
    </TableBody>
</Table>


                            
                        </div>
                    </div>
                </div>
            }
            else
            {
                <p>Brak danych o smartfonach.</p>
            }
        </div>
        <div class="col-md-2">
            <AdBar></AdBar>
        </div>
    </div>
</div>


@code {
	private bool showMoreBrands = false;
	private int brandCount = 3;

	private void ToggleShowMoreBrands()
	{
		showMoreBrands = !showMoreBrands;
	}


	private IEnumerable<IEnumerable<SmartphoneModel>> Chunked(int size)
	{
		for (int i = 0; i < viewModel.Smartphones.Count; i += size)
		{
			yield return viewModel.Smartphones.Skip(i).Take(size);
		}
	}
}
